body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.navbar {
  flex: 0 1 auto;
}

.foot {
  background-color: grey;
  text-align: center;
  flex: 0 1 20px;
  margin-top: 30px;
}

.container {
  flex: 1 1 auto;
  margin-top: 4rem;
}

.title {
  width: 100%;
  font-size: 50px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
