
.foot {
  background-color: grey;
  text-align: center;
  margin-top: 30px;
}

.content {
  margin-top: 4rem;
}

.title {
  width: 100%;
  font-size: 50px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
